@use "global" as g;

.not-found {
  &__inner {
    padding-bottom: 250px;
    @include g.sp {
      padding-bottom: 120px;
    }
  }
  &__title {
    padding: 0;
  }
  &__text {
    text-align: center;
  }
}
