@use "global" as g;

/* application
====================================== */
.application {
  // background-color: g.$bg-gray;
  &__inner {
    padding-top: 125px;
    // padding-bottom: 179px;
    @include g.sp {
      padding-top: 53px;
    }
  }
  &__title {

  }
  &__lead {
    text-align: center;
    margin-bottom: 60px;
    @include g.sp {
      text-align: left;
    }
    > span {
      display: block;
      margin-bottom: 20px;
    }
    .bold {
      font-weight: bold;
    }
  }
  &__contents {
    padding: 91px 7.2% 59px;
    @include g.sp {
      padding: 33px g.$padding-sp;
    }
    &-title {
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 45px;
      @include g.sp {
        font-size: 18px;
        margin-bottom: 30px;
      }
    }
    &-lead {
      text-align: center;
      margin-bottom: 45px;
      @include g.sp {
        text-align: left;
      }
    }
  }
}