@use "global" as g;

/* company-main
====================================== */
.company-main {
  padding-top: 114px;
  @include g.sp {
    padding-top: 49px;
  }
  &__img {
    @include g.aspect;
    &::before {
      padding-top: 34.32%;
      @include g.sp {
        padding-top: 41.5%;
      }
    }
  }
}

/* company-info
====================================== */
.company-info {
  &__inner {
    padding-top: 76px;
    padding-bottom: 97px;
    @include g.sp {
      padding-top: 39px;
      padding-bottom: 25px;
    }
  }
  &__item {
    display: flex;
    justify-content: space-between;
    &-title, &-text {
      padding: 28.5px 0 30px;
      font-size: 18px;
      @include g.sp {
        padding: 11px 0 13px;
        font-size: 13px;
      }
    }
    &-title {
      width: 29.4%;
      font-weight: bold;
      text-align: center;
      border-top: 3px solid g.$orange;
      @include g.sp {
        width: 27.7%;
      }
    }
    &-text {
      width: 66%;
      padding-left: 2.4%;
      font-weight: 200;
      line-height: 1.94;
      border-top: 1px solid #000;
      @include g.sp {
        width: 70%;
        padding-left: 3%;
        line-height: 1.46;
      }
    }
    &:last-child {
      .company-info__item-title {
        border-bottom: 3px solid g.$orange;
      }
      .company-info__item-text {
        border-bottom: 1px solid #000;
      }
    }
  }
}

/* company-message
====================================== */
.company-message {
  &__inner {
    display: flex;
    align-items: center;
    padding-bottom: 200px;
    @include g.tb {
      flex-direction: column;
      padding-top: 29px;
      padding-bottom: 0px;
    }
  }
  &__img {
    width: 38.125%;
    border-radius: 0 30px 30px 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
    overflow: hidden;
    z-index: 1;
    @include g.aspect;
    @include g.tb {
      width: calc(100% - g.$padding-sp * 2);
      border-radius: 10px;
    }
    &::before {
      padding-top: 112.43%;
      @include g.tb {
        padding-top: 80.57%;
      }
    }
    img {
      @include g.tb {
        object-position: 50% 10%;
      }
    }
    &-logo {
      bottom: 0 !important;
      width: 57% !important;
      height: auto !important;
      margin-top: auto;
      @include g.sp {
        width: 56% !important;
      }
    }
  }
  &__contents {
    width: 93%;
    margin-left: -31%;
    padding-left: 35.5%;
    padding-right: 10%;
    padding-top: 33px;
    padding-bottom: 33px;
    background: linear-gradient(to 60deg,g.$green, g.$blue);
    border-radius: 50px 0 0 50px;
    color: #fff;
    font-weight: bold;
    @include g.mx {
      padding-right: calc(50vw - calc(g.$contents-size-s / 2));
    }
    @include g.tb {
      width: 100%;
      margin-top: -81px;
      margin-left: 0;
      padding-top: 100px;
      padding-left: g.$padding-sp;
      padding-right: g.$padding-sp;
      border-radius: 0;
    }
    &-title {
      font-size: 33px;
      line-height: 1.485;
      margin-bottom: 28px;
      @include g.sp {
        font-size: 23px;
        margin-bottom: 19px;
      }
    }
    &-text {
      font-size: 17px;
      line-height: 1.7;
      margin-bottom: 21px;
      @include g.sp {
        font-size: 13px;
        line-height: 1.77;
        color: #000;
        background-color: #fff;
        padding: 22px 20px;
        border-radius: 10px;
      }
    }
    &-sign {
      font-size: 28px;
      text-align: right;
      @include g.sp {
        text-align: left;
        font-size: 18px;
        margin-bottom: 13px;
      }
    }
  }
}