@use "global" as g;

.advancedplus {
  text-align: center;
  margin: 30px auto;
}
/* sec_course
====================================== */
.sec_course {
  background: url(../img/course/bg_sec_course.jpg) no-repeat center center /
    cover;
  position: relative;
  z-index: 0;
  &::before {
    //背景フィルター青
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, g.$blue, g.$green);
    opacity: 0.72;
  }
  &__inner {
    padding-top: 93px;
    padding-bottom: 59px;
    @include g.sp {
      padding-top: 33px;
      padding-bottom: 32px;
    }
  }
  &__container {
    background-color: #fff;
    border-radius: 30px;
    padding: 44px 60px 69px;
    @include g.sp {
      border-radius: 10px;
      padding: 35px 6% 40px;
    }
    .phtBox {
      margin-bottom: 20px;
    }
  }
  &__title {
    margin-bottom: 35px;
    @include g.sp {
      margin: 0 calc(50% - 50vw) 14px;
    }
    &-main {
      &--kb {
        @include g.sp {
          font-size: 22px;
        }
      }
    }
  }
  &__lead {
    font-size: clamp(16px, 1.25vw, 24px);
    line-height: 1.7;
    font-weight: bold;
    text-align: center;
    max-width: 985px;
    margin: auto;
    margin-bottom: 39px;
    @include g.sp {
      font-size: 14px;
      line-height: 1.5;
      margin-bottom: 33px;
    }
  }
  &__list {
    border-radius: 10px;
    overflow: hidden;
    max-width: 985px;
    margin: auto;
    @include g.sp {
      border-radius: 6px;
    }
  }
  &__item {
    display: flex;
    gap: 3px;
    margin-bottom: 3px;
    @include g.tb {
      flex-direction: column;
      margin-bottom: 0;
      gap: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &-title,
    &-text {
      font-size: 21px;
      font-weight: bold;
      @include g.sp {
        font-size: 11px;
      }
    }
    &-title {
      width: 26%;
      color: #fff;
      background-color: g.$blue;
      padding: 22.5px 0 20.5px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include g.tb {
        width: 100%;
      }
      @include g.sp {
        padding: 7px;
      }
    }
    &-text {
      width: 74%;
      line-height: 1.47;
      padding: 22.5px 30px 20.5px 45px;
      background-color: g.$bg-gray2;
      @include g.tb {
        width: 100%;
      }
      @include g.sp {
        padding: 7px;
      }
    }
  }
  &__note {
    max-width: 985px;
    margin: auto;
    font-size: 21px;
    margin-top: 0.5em;
    @include g.sp {
      font-size: 11px;
    }
  }
}

/* sec_features
====================================== */
.sec_features {
  background-color: g.$bg-gray;
  @include g.sp {
    background-color: inherit;
  }
  &__inner {
    padding-top: 83px;
    padding-bottom: 87px;
    @include g.sp {
      padding-top: 46px;
      padding-bottom: 30px;
    }
  }
  &__title {
    margin-bottom: 68px;
    @include g.sp {
      margin-bottom: 38px;
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;
    @include g.tb {
      flex-direction: column;
    }
    &--kb {
      flex-wrap: wrap;
      max-width: 1260px;
      margin: auto;
      // display: grid;
      // grid-template-columns: repeat(2, 1fr);
    }
  }
  &__item {
    width: 29.8575%;
    position: relative;
    display: flex;
    flex-direction: column;
    @include g.tb {
      width: 100%;
      margin-bottom: 60px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    @include g.sp {
      margin-bottom: 51px;
    }
    &--kb {
      width: 46%;
      @include g.tb {
        width: 100%;
        margin-bottom: 0;
      }
      &:nth-child(n + 3) {
        margin-top: 5em;
        @include g.tb {
          margin-top: inherit;
        }
      }
      &:nth-child(n + 2) {
        @include g.tb {
          margin-top: 3em;
        }
      }
    }
    &-num {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      transform: translateY(-50%);
      font-family: g.$font-en;
      color: g.$orange;
      font-size: 30px;
      font-weight: bold;
      @include g.sp {
        font-size: 25px;
      }
    }
    &-img {
      border-radius: 20px 20px 0 0;
      overflow: hidden;
      @include g.aspect;
      &::before {
        padding-top: 65.3%;
      }
      @include g.sp {
        border-radius: 10px 10px 0 0;
      }
    }
    &-contents {
      padding: 18px 15px 15px;
      border-radius: 0 0 20px 20px;
      background: linear-gradient(to bottom, #f8a719, #f8bc19);
      color: #fff;
      font-weight: bold;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      @include g.sp {
        padding: 13px 11px 26px;
        border-radius: 0 0 10px 10px;
      }
    }
    &-title {
      font-size: clamp(17px, 1.25vw, 24px);
      line-height: 1.458;
      margin-bottom: 10px;
      @include g.tb {
        font-size: 16px;
      }
    }
    &-text {
      font-size: 14px;
      line-height: 1.785;
      @include g.sp {
        font-size: 14px;
      }
    }
  }
}

/* sec_flow
====================================== */
.sec_flow {
  &__inner {
    padding-top: 96px;
    padding-bottom: 115px;
    @include g.sp {
      padding-top: 32px;
      padding-bottom: 57px;
    }
  }
  &__title {
    margin-bottom: 32px;
    @include g.sp {
      margin-bottom: 26px;
      img {
        width: 17.5px;
      }
    }
  }
  &__img {
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 55px;
    @include g.sp {
      border-radius: 10px;
      margin-bottom: 17px;
    }
    @include g.aspect;
    &::before {
      padding-top: 46.11%;
    }
  }
  &__item {
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid g.$blue;
    margin-bottom: 26px;
    cursor: pointer;
    &:last-child {
      margin-bottom: 0;
    }
    @include g.sp {
      margin-bottom: 13.5px;
      border-radius: 5px;
    }
    &.is-open {
      .sec_flow__item-time::after {
        transform: translateY(-50%) rotate(180deg);
      }
    }
    &-time {
      background-color: g.$blue;
      padding: 15px 80px 15px 40px;
      position: relative;
      display: flex;
      align-items: center;
      gap: 0.5em;
      @include g.sp {
        padding: 8px 12px;
      }
      img {
        width: auto;
        height: auto;
        margin-right: 8px;
        @include g.sp {
          width: 34px;
          height: 34px;
          margin-right: 2px;
        }
      }
      span {
        color: #fff;
        font-size: 21px;
        font-weight: bold;
        vertical-align: middle;
        @include g.sp {
          font-size: 14px;
        }
      }
      &::after {
        //下矢印
        content: "";
        position: absolute;
        right: 40px;
        top: 50%;
        transform: translateY(-50%);
        width: 28px;
        height: 19px;
        background: url(../img/course/icon_flow_arrow.svg) no-repeat center
          center / cover;
        transition: 0.3s;
        @include g.sp {
          right: 12px;
          width: 14px;
          height: 9.5px;
        }
      }
    }
    &-contents {
      padding: 27px 28px 27px 40px;
      display: none;
      @include g.sp {
        padding: 15px 10px 9px;
      }
      img {
        width: 100%;
        margin-bottom: 20px;
        object-fit: none;
        height: auto;
        vertical-align: auto;
      }
    }
    &-text {
      font-size: 16px;
      font-weight: bold;
      line-height: 1.875;
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
      @include g.sp {
        font-size: 13px;
        line-height: 1.923;
        margin-bottom: 10px;
      }
    }
  }
}

/* sec_price
====================================== */
.sec_price {
  background-color: g.$bg-gray;
  &__inner {
    padding-top: 100px;
    padding-bottom: 60px;
    @include g.sp {
      padding-top: 50px;
      padding-bottom: 52px;
    }
  }
  &__title {
    @include g.sp {
      margin-bottom: 23px;
    }
    img {
      width: 54px;
      height: 54px;
      @include g.sp {
        width: 25px;
        height: 25px;
      }
    }
  }
  &__list {
    display: flex;
    // justify-content: space-between;
    justify-content: center;
    gap: 2.35%;
    max-width: 977px;
    margin: 0 auto 30px;
    @include g.tb {
      display: grid;
      column-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      row-gap: 0;
    }
    // @include g.sp {
    //   margin: 0 auto 30px;
    // }
    &-title {
      font-size: 26px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 42px;
      @include g.sp {
        font-size: 15px;
        margin-bottom: 20px;
      }
    }
  }
  &__item {
    width: 23.235%;
    border-radius: 9px;
    overflow: hidden;
    border: 2px solid #40c1c9;
    text-align: center;
    display: flex;
    flex-direction: column;
    @include g.tb {
      width: auto;
      display: block;
      flex-direction: inherit;
    }
    &:nth-child(n + 3) {
      @include g.tb {
        margin-top: 20px;
      }
    }
    &-upper {
      padding: 15px 15px 14px;
      background-color: #fff;
      @include g.sp {
        padding: 11px 11px 12px;
      }
      &--l {
        min-height: 141px;
        flex-grow: 1;
        @include g.tb {
          min-height: inherit;
          flex-grow: inherit;
        }
      }
      &-days {
        display: inline-block;
        padding: 0px 29px;
        border-radius: 26px;
        background-color: g.$orange;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        margin-bottom: 3px;
        @include g.sp {
          font-size: 12px;
          padding: 0 22px;
          margin-bottom: 1px;
        }
      }
      &-yen {
        font-size: clamp(24px, 2.3vw, 31px);
        font-weight: bold;
        margin-bottom: 0px;
        @include g.sp {
          font-size: 20px;
        }
        &--delete {
          font-weight: bold;
          font-size: clamp(16px, 1.92vw, 20px);
          margin-top: 9px;
          line-height: 1;
          position: relative;
          display: inline-block;
          @include g.sp {
            font-size: 13px;
          }
          &::after {
            //オレンジ線
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 100%;
            height: 3px;
            border-radius: 3px;
            background-color: g.$orange;
            @include g.sp {
              height: 2px;
            }
          }
        }
        &--pt {
          padding-top: 16px;
          @include g.tb {
            padding-top: 0;
          }
        }
        span {
          font-size: 14px;
          @include g.sp {
            font-size: 12px;
          }
        }
      }
      &-text {
        font-size: 14px;
        font-weight: bold;
        color: #9a9a9a;
        @include g.sp {
          font-size: 10px;
        }
      }
    }
    &-lower {
      background-color: #40c1c9;
      color: #fff;
      padding: 5px;
      margin-top: auto;
      @include g.tb {
        margin-top: 0;
      }
      @include g.sp {
        padding: 3px;
      }
      &--kb {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 54px;
        @include g.sp {
          min-height: 30px;
        }
      }
      &--asterisk {
        position: relative;
        &::after {
          content: "*";
          position: absolute;
          top: 50%;
          right: 20%;
          transform: translateY(-50%);
          font-size: 24px;
          @include g.sp {
            font-size: 20px;
          }
        }
      }
      &-text {
        font-size: 14px;
        font-weight: bold;
        @include g.sp {
          font-size: 10px;
        }
      }
      &-yen {
        font-size: 24px;
        font-weight: bold;
        @include g.sp {
          font-size: 17px;
        }
      }
    }
    &-note {
      max-width: 977px;
      margin: 0 auto 80px;
      @include g.sp {
        margin-bottom: 30px;
      }
      &--mb0 {
        margin-bottom: 0;
      }
      span {
        color: g.$orange;
      }
    }
  }
}

/* sec_other-price
====================================== */
.sec_other-price {
  background-color: g.$bg-gray;
  &__inner {
    padding-top: 60px;
    @include g.sp {
      padding-top: 30px;
    }
  }
  &__title {
    margin-bottom: 42px;
    @include g.sp {
      margin-bottom: 23px;
    }
  }
  &__table {
    max-width: 977px;
    margin: 0 auto 28px;
    overflow-x: scroll;
    position: relative;
    @include g.sp {
      margin-bottom: 20px;
    }
    &-upper {
      padding-top: 49px;
      @include g.tb {
        padding-top: 20px;
      }
      &-text {
        position: absolute;
        top: 0;
        left: 22.5%;
        font-size: clamp(16px, 1.3541667vw, 26px);
        font-weight: bold;
        @include g.tb {
          font-size: 10px;
        }
        @include g.sp {
          left: 30%;
        }
      }
    }
    table {
      border-radius: 20px;
      overflow: hidden;
      width: 100%;
      // min-width: 1200px;
      // border-collapse: collapse;
      border-collapse: separate;
      border-spacing: 0;
      @include g.tb {
        border-radius: 10px;
      }
      @include g.sp {
        min-width: 450px;
        padding-bottom: 1px;
      }
    }
    &-blank {
      border: 1px solid #fff;
      background-color: #fff;
    }
    &-text-blue {
      border: 1px solid #fff;
      background-color: #fff;
      color: g.$blue;
      font-size: clamp(16px, 1.3541667vw, 26px);
      font-weight: bold;
      position: relative;
      @include g.tb {
        font-size: 10px;
      }
      &::before {
        font-weight: normal;
        content: "***";
        position: absolute;
        top: 10%;
        left: 5%;
      }
    }
    &-orange {
      // background-color: g.$orange;
      color: #fff;
      // font-size: 23px;
      font-size: clamp(16px, 1.3541667vw, 26px);
      font-weight: bold;
      padding: 18.4px 0;
      border: 1px solid #fff;
      width: 12.913%;
      line-height: 1.3;
      @include g.tb {
        font-size: 10px;
        padding: 10px 0;
      }
      @include g.sp {
      }
      &--01 {
        padding: 1.71px 0;
      }
      &--01,
      &--02 {
        background-color: #f8a719;
      }
      // &--02 {
      //   background-color: #F8AB19;
      // }
      &--03,
      &--04 {
        background-color: #f8b319;
      }
      // &--04 {
      //   background-color: #F8BC19;
      // }
      &--05,
      &--06 {
        background-color: #f8bc19;
      }
      // &--06 {
      //   background-color: #F8BC19;
      // }
      &.op0 {
        opacity: 0;
      }
      &.sec_other-price__table-last_th {
        border-radius: 0 20px 0 0;
        @include g.tb {
          border-radius: 0 10px 0 0;
        }
      }
      &--lower {
        padding: 18.4px 0;
        @include g.tb {
          font-size: 10px;
          padding: 10px 0;
        }
      }
    }
    &-gray {
      color: #fff;
      background-color: #adadad !important;
      border: 1px solid #fff !important;
    }
    td {
      font-size: clamp(16px, 1.354vw, 26px);
      font-weight: bold;
      text-align: center;
      padding: 9px;
      border: 1px solid g.$blue;
      background-color: #fff;
      // border-right: 1px solid g.$blue;
      // border-bottom: 1px solid g.$blue;
      line-height: 1;
      @include g.tb {
        font-size: 13px;
        padding: 5px 0;
      }
      @include g.sp {
        font-size: 10px;
      }
      span {
        display: block;
        line-height: 1.2;
        &.mt10 {
          margin-top: 10px;
        }
      }
      // .delete {
      //   font-size: clamp(13px, 1.09375vw, 21px);
      //   display: block;
      //   line-height: 1;
      //   @include g.sp {
      //     font-size: 6px;
      //   }
      //   span {
      //     display: inline-block;
      //     position: relative;
      //     &::after {
      //       content: '';
      //       position: absolute;
      //       top: 50%;
      //       left: 0;
      //       transform: translateY(-50%);
      //       width: 100%;
      //       height: 2px;
      //       border-radius: 1px;
      //       background-color: g.$orange;
      //     }
      //   }
      // }
      &.op0 {
        opacity: 0;
      }
    }
    &-item {
      background-color: g.$blue !important;
      color: #fff !important;
      line-height: 1;
      // text-align:  !important;
      padding: 19.705px !important;
      border: 1px solid #fff !important;
      font-size: clamp(18px, 1.51vw, 29px);
      font-weight: bold;
      @include g.tb {
        font-size: 13px;
      }
      @include g.tb {
        padding: 8.4px 14px !important;
      }
      &--gray {
        background-color: #adadad !important;
      }
      &--asterisk {
        position: relative;
        &::before {
          font-weight: normal;
          position: absolute;
          top: 10%;
          left: 5%;
        }
        &_01 {
          &::before {
            content: "*";
          }
        }
        &_02 {
          &::before {
            content: "**";
          }
        }
      }
      &-en {
        display: block;
        font-family: g.$font-en;
        // font-size: 29px;
      }
      &-jp {
        display: block;
        // font-size: 18px;
        font-size: clamp(12px, 0.9375vw, 18px);
        font-weight: 200;
        @include g.tb {
          font-size: 8px;
        }
      }
    }
    &-last_td {
      border-radius: 0 0 20px 0;
      @include g.tb {
        border-radius: 0 0 10px 0;
      }
    }
  }
  &__note {
    font-size: 13px;
    font-weight: bold;
    line-height: 1.846;
    max-width: 977px;
    margin: 0 auto 40px;
    @include g.tb {
      font-size: 10px;
    }
  }
}
