/* sec_gallery
====================================== */
.btnFlex {
  padding-top: 101px;
  padding-bottom: 30px;
  max-width: 1260px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px 0;
  @include g.sp {
    padding-top: 44px;
    padding-bottom: 20px;
    flex-direction: column;
  }
  .btn__white {
    a {
      &::before {
        transform: translateY(-50%) rotate(90deg);
      }
      &::after {
        transform: translateY(-50%) rotate(90deg);
      }
    }
  }
}
.sec_gallery {
  &:last-child {
    padding-bottom: 178px;
    @include g.sp {
      padding-bottom: 90px;
    }
    .sec_gallery__catch {
      position: absolute;
      top: inherit;
      left: inherit;
      right: -326px;
      bottom: 100px;
      transform: rotate(90deg);
      font-family: "Brandon Grotesque";
      color: #f6a631;
      opacity: 0.34;
      font-size: 212px;
      font-weight: bold;
      letter-spacing: 0.05em;
    }
  }
  &__inner {
    position: relative;
    padding-top: 101px;
    padding-bottom: 30px;
    @include g.sp {
      padding-top: 44px;
      padding-bottom: 20px;
    }
  }
  &__title {
    margin-bottom: 50px;
    @include g.sp {
      margin-bottom: 19px;
    }
  }
  &__catch {
    position: absolute;
    left: -326px;
    top: 50%;
    transform: translateY(-22%) rotate(-90deg);
    font-family: g.$font-en;
    color: g.$orange;
    opacity: 0.34;
    font-size: 212px;
    font-weight: bold;
    letter-spacing: 0.05em;
    @include g.sp {
      display: none;
    }
  }
  &__container {
    overflow: hidden;
    .otherFlex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 10px 0;
      img {
        width: 19.36%;
        border-radius: 8px;
        @include g.sp {
          width: 48.8%;
        }
      }
    }
  }
  &__upper {
    margin-bottom: 12px;
    @include g.sp {
      margin-bottom: 2px;
    }
  }
  &__lower {
    .swiper-wrapper {
      justify-content: space-between;
      transition-timing-function: linear;
      .swiper-slide {
        width: 19.4% !important;
        height: 100%;
        // opacity: .5;
        overflow: hidden;
        &.swiper-slide-thumb-active {
          // opacity: 1;
        }
        & + .swiper-slide {
          // margin-left: 2.5%;
        }
      }
    }
  }
  .swiper-slide {
    @include g.aspect;
    img {
      border-radius: 8px;
    }
    &::before {
      padding-top: 47%;
    }
  }
}
.swiper-container {
  width: 100%;
}
// .swiper-button-next,
// .swiper-button-prev {
//   &::after {
//     opacity: 0;
//     visibility: hidden;
//   }
// }
.swiper-button-prev01 {
  height: 50px;
  width: 50px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  z-index: 5;
  @include g.sp {
    width: 25px;
    height: 25px;
  }
}
.swiper-button-next01 {
  height: 50px;
  width: 50px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  z-index: 5;
  @include g.sp {
    width: 25px;
    height: 25px;
  }
}
.swiper-button-prev01:after,
.swiper-button-next01:after {
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 50px;
  margin: auto;
  width: 50px;
  display: block;
  cursor: pointer;
  @include g.sp {
    width: 25px;
    height: 25px;
  }
}
.swiper-button-prev01:after {
  background-image: url(../img/gallery/ico_left.svg);
}
.swiper-button-next01:after {
  background-image: url(../img/gallery/ico_right.svg);
}
.swiper-button-next01.swiper-button-disabled {
  opacity: 0.5;
}
.swiper-button-prev01.swiper-button-disabled {
  opacity: 0.5;
}
.swiper-button-prev02 {
  height: 50px;
  width: 50px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  z-index: 5;
  @include g.sp {
    width: 25px;
    height: 25px;
  }
}
.swiper-button-next02 {
  height: 50px;
  width: 50px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  z-index: 5;
  @include g.sp {
    width: 25px;
    height: 25px;
  }
}
.swiper-button-prev02:after,
.swiper-button-next02:after {
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 50px;
  margin: auto;
  width: 50px;
  display: block;
  cursor: pointer;
  @include g.sp {
    width: 25px;
    height: 25px;
  }
}
.swiper-button-prev02:after {
  background-image: url(../img/gallery/ico_left.svg);
}
.swiper-button-next02:after {
  background-image: url(../img/gallery/ico_right.svg);
}
.swiper-button-next02.swiper-button-disabled {
  opacity: 0.5;
}
.swiper-button-prev02.swiper-button-disabled {
  opacity: 0.5;
}
.swiper-button-prev03 {
  height: 50px;
  width: 50px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  z-index: 5;
  @include g.sp {
    width: 25px;
    height: 25px;
  }
}
.swiper-button-next03 {
  height: 50px;
  width: 50px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  z-index: 5;
  @include g.sp {
    width: 25px;
    height: 25px;
  }
}
.swiper-button-prev03:after,
.swiper-button-next03:after {
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 50px;
  margin: auto;
  width: 50px;
  display: block;
  cursor: pointer;
  @include g.sp {
    width: 25px;
    height: 25px;
  }
}
.swiper-button-prev03:after {
  background-image: url(../img/gallery/ico_left.svg);
}
.swiper-button-next03:after {
  background-image: url(../img/gallery/ico_right.svg);
}
.swiper-button-next03.swiper-button-disabled {
  opacity: 0.5;
}
.swiper-button-prev03.swiper-button-disabled {
  opacity: 0.5;
}
