/* sec_gallery
====================================== */
.btnFlex {
  padding-top: 101px;
  padding-bottom: 30px;
  max-width: 1260px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px 0;
}
@media (max-width: 768px) {
  .btnFlex {
    padding-top: 44px;
    padding-bottom: 20px;
  }
}
.btnFlex .btn__white a::before {
  transform: translateY(-50%) rotate(90deg);
}
.btnFlex .btn__white a::after {
  transform: translateY(-50%) rotate(90deg);
}
.sec_gallery:last-child {
  padding-bottom: 178px;
}
@media (max-width: 768px) {
  .sec_gallery:last-child {
    padding-bottom: 90px;
  }
}
.sec_gallery:last-child .sec_gallery__catch {
  position: absolute;
  top: inherit;
  left: inherit;
  right: -326px;
  bottom: 100px;
  transform: rotate(90deg);
  font-family: "Brandon Grotesque";
  color: #f6a631;
  opacity: 0.34;
  font-size: 212px;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.sec_gallery__inner {
  position: relative;
  padding-top: 101px;
  padding-bottom: 30px;
}
@media (max-width: 768px) {
  .sec_gallery__inner {
    padding-top: 44px;
    padding-bottom: 20px;
  }
}
.sec_gallery__title {
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .sec_gallery__title {
    margin-bottom: 19px;
  }
}
.sec_gallery__catch {
  position: absolute;
  left: -326px;
  top: 50%;
  transform: translateY(-22%) rotate(-90deg);
  font-family: "Brandon Grotesque";
  color: #f6a631;
  opacity: 0.34;
  font-size: 212px;
  font-weight: bold;
  letter-spacing: 0.05em;
}
@media (max-width: 768px) {
  .sec_gallery__catch {
    display: none;
  }
}
.sec_gallery__container {
  overflow: hidden;
}
.sec_gallery__upper {
  margin-bottom: 12px;
}
@media (max-width: 768px) {
  .sec_gallery__upper {
    margin-bottom: 2px;
  }
}
.sec_gallery__lower .swiper-wrapper {
  justify-content: space-between;
  transition-timing-function: linear;
}
.sec_gallery__lower .swiper-wrapper .swiper-slide {
  width: 19.4% !important;
  height: 100%;
  overflow: hidden;
}
.sec_gallery .swiper-slide {
  position: relative;
}
.sec_gallery .swiper-slide::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
.sec_gallery .swiper-slide img,
.sec_gallery .swiper-slide video,
.sec_gallery .swiper-slide iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sec_gallery .swiper-slide img {
  border-radius: 8px;
}
.sec_gallery .swiper-slide::before {
  padding-top: 47%;
}

.swiper-container {
  width: 100%;
}

/* .swiper-button-next::after,
.swiper-button-prev::after {
  opacity: 0;
  visibility: hidden;
} */
.swiper-button-prev01 {
  height: 50px;
  width: 50px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  z-index: 5;
}
@media (max-width: 768px) {
  .swiper-button-prev01 {
    width: 25px;
    height: 25px;
  }
}
.swiper-button-next01 {
  height: 50px;
  width: 50px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  z-index: 5;
}
@media (max-width: 768px) {
  .swiper-button-next01 {
    width: 25px;
    height: 25px;
  }
}
.swiper-button-prev01:after,
.swiper-button-next01:after {
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 50px;
  margin: auto;
  width: 50px;
  display: block;
  cursor: pointer;
}
@media (max-width: 768px) {
  .swiper-button-prev01:after,
  .swiper-button-next01:after {
    width: 25px;
    height: 25px;
  }
}
.swiper-button-prev01:after {
  background-image: url(../img/gallery/ico_left.svg);
}
.swiper-button-next01:after {
  background-image: url(../img/gallery/ico_right.svg);
}
.swiper-button-next01.swiper-button-disabled {
  opacity: 0.5;
}
.swiper-button-prev01.swiper-button-disabled {
  opacity: 0.5;
}
.swiper-button-prev02 {
  height: 50px;
  width: 50px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  z-index: 5;
}
@media (max-width: 768px) {
  .swiper-button-prev02 {
    width: 25px;
    height: 25px;
  }
}
.swiper-button-next02 {
  height: 50px;
  width: 50px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  z-index: 5;
}
@media (max-width: 768px) {
  .swiper-button-next02 {
    width: 25px;
    height: 25px;
  }
}
.swiper-button-prev02:after,
.swiper-button-next02:after {
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 50px;
  margin: auto;
  width: 50px;
  display: block;
  cursor: pointer;
}
@media (max-width: 768px) {
  .swiper-button-prev02:after,
  .swiper-button-next02:after {
    width: 25px;
    height: 25px;
  }
}
.swiper-button-prev02:after {
  background-image: url(../img/gallery/ico_left.svg);
}
.swiper-button-next02:after {
  background-image: url(../img/gallery/ico_right.svg);
}
.swiper-button-next02.swiper-button-disabled {
  opacity: 0.5;
}
.swiper-button-prev02.swiper-button-disabled {
  opacity: 0.5;
}
.swiper-button-prev03 {
  height: 50px;
  width: 50px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  z-index: 5;
}
@media (max-width: 768px) {
  .swiper-button-prev03 {
    width: 25px;
    height: 25px;
  }
}
.swiper-button-next03 {
  height: 50px;
  width: 50px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  z-index: 5;
}
@media (max-width: 768px) {
  .swiper-button-next03 {
    width: 25px;
    height: 25px;
  }
}
.swiper-button-prev03:after,
.swiper-button-next03:after {
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 50px;
  margin: auto;
  width: 50px;
  display: block;
  cursor: pointer;
}
@media (max-width: 768px) {
  .swiper-button-prev03:after,
  .swiper-button-next03:after {
    width: 25px;
    height: 25px;
  }
}
.swiper-button-prev03:after {
  background-image: url(../img/gallery/ico_left.svg);
}
.swiper-button-next03:after {
  background-image: url(../img/gallery/ico_right.svg);
}
.swiper-button-next03.swiper-button-disabled {
  opacity: 0.5;
}
.swiper-button-prev03.swiper-button-disabled {
  opacity: 0.5;
}
