@use "global" as g;

/*-----------------------------------------------
Privacy-policy
------------------------------------------------*/

/* privacy
======================================= */
.privacy {
  &__inner {
    padding-top: 126px;
    padding-bottom: 250px;
    @include g.sp {
      padding-bottom: 100px;
    }
  }
  // &__title {
  //   font-size: 24px;
  //   padding: 60px 0 20px;
  //   @include g.tb {
  //     font-size: 20px;
  //     padding: 30px 0 10px;
  //   }
  //   @include g.sp {
  //     font-size: 16px;
  //   }
  // }
  // &__item {
  //   margin-bottom: 30px;
  //   &-title {
  //     font-size: 20px;
  //     margin-bottom: 10px;
  //     @include g.tb {
  //       font-size: 16px;
  //     }
  //     @include g.sp {
  //       font-size: 14px;
  //     }
  //     &-sub {
  //       margin-top: 20px;
  //       margin-bottom: 10px;
  //       font-size: 16px;
  //       @include g.tb {
  //         font-size: 14px;
  //       }
  //       @include g.sp {
  //         font-size: 12px;
  //       }
  //     }
  //   }
  &__text {
    font-family: g.$font-noto;
    font-size: 18px;
    line-height: 1.944;
    margin-bottom: 35px;
    @include g.tb {
      font-size: 14px;
    }
    @include g.sp {
      font-size: 12px;
    }
  }
}