@use "global" as g;

/* recruit-main
====================================== */
.recruit-main {
  padding-top: 114px;
  @include g.sp {
    padding-top: 49px;
  }
  &__img {
    @include g.aspect;
    &::before {
      padding-top: 34.32%;
      @include g.sp {
        padding-top: 41.5%;
      }
    }
  }
}

/* recruit-links
====================================== */
.recruit-links {
  &__inner {
    padding-top: 122px;
    padding-bottom: 67px;
    @include g.sp {
      padding-top: 27px;
      padding-bottom: 0;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    @include g.sp {
      justify-content: space-between;
      gap: 0px;
    }
  }
  &__item {
    @include g.sp {
      width: 32%;
    }
    a {
      display: inline-block;
      min-width: 292px;
      padding: 25px;
      border-radius: 10px;
      font-size: 18px;
      background-color: g.$blue;
      color: #fff;
      text-align: center;
      position: relative;
      @include g.sp {
        min-width: inherit;
        width: 100%;
        border-radius: 3px;
        font-size: 14px;
        padding: 6px;
      }
      &::after { //アンカーリンク矢印
        content: '';
        position: absolute;
        top: 50%;
        right: 6%;
        transform: translateY(-50%);
        display: block;
        width: 20px;
        height: 13.5px;
        background: url(../img/recruit/icon_link-arrow.svg) no-repeat center center / cover;
        @include g.sp {
          width: 13px;
          height: 9px;
        }
      }
    }
  }
}

/* recruit-positions
====================================== */
.recruit-positions {
  &__inner {
    padding-top: 0;
    padding-bottom: 62px;
    @include g.sp {
      padding-bottom: 53px;
    }
  }

}
.recruit-position {
  // margin-top: -150px;
  // padding-top: 150px;
  // @include g.sp {
  //   margin-top: -100px;
  //   padding-top: 100px;
  // }
  &__inner {
    padding-top: 48px;
    padding-bottom: 93px;
    @include g.sp {
      padding-top: 41px;
      padding-bottom: 25px;
    }
  }
  &__title {
    text-align: center;
    margin-bottom: 41px;
    @include g.sp {
      margin-bottom: 19px;
    }
    &-main {
      font-size: 50px;
      @include g.sp {
        font-size: 20px;
      }
    }
  }
  &__item {
    display: flex;
    justify-content: space-between;
    &-title, &-text {
      font-size: 18px;
      @include g.sp {
        font-size: 13px;
      }
    }
    &-title {
      width: 29.4%;
      font-weight: bold;
      text-align: center;
      padding: 31.5px 0 24px;
      border-top: 3px solid g.$orange;
      @include g.sp {
        width: 27.5%;
        padding: 12px 0 12px;
      }
    }
    &-text {
      width: 66%;
      font-weight: 200;
      line-height: 2.22;
      padding: 28.5px 0 24px;
      padding-left: 2.4%;
      border-top: 1px solid #000;
      @include g.sp {
        width: 70%;
        padding: 13px 0 14px 10px;
        line-height: 1.46;
      }
    }
    &:last-child {
      .recruit-position__item-title {
        border-bottom: 3px solid g.$orange;
      }
      .recruit-position__item-text {
        border-bottom: 1px solid #000;
      }
    }
  }
}

/* recruit-entry
====================================== */
.recruit-entry {
  background-color: g.$bg-gray;
  &__inner {
    padding-top: 107px;
    padding-bottom: 179px;
    @include g.sp {
      padding-top: 50px;
      padding-bottom: 88px;
    }
  }
  &__title {
    margin-bottom: 88px;
    @include g.sp {
      margin-bottom: 21px;
    }
  }
  &__contents {
    padding: 110px 7.2% 59px;
    @include g.sp {
      padding: 32px 6.5% 40px;
    }
  }
}