@use "global" as g;

// .s-news {
//   background-color: #fff;
// }
.single {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 105px;
    padding-bottom: 184px;
    @include g.xl {
      flex-direction: column;
    }
    @include g.sp {
      padding-top: 47px;
      padding-bottom: 85px;
    }
  }
  &__main_column {
    width: 67.85%;
    @include g.xl {
      width: 100%;
      margin-bottom: 79px;
    }
  }
  &__side_column {
    width: 27%;
    @include g.xl {
      width: 100%;
    }
  }
  &__info {
    &-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      line-height: 1.55;
      margin-bottom: 14px;
      @include g.sp {
        justify-content: flex-start;
        margin-bottom: 7px;
      }
      span {
        display: block;
      }
    }
    &--cat {
      a {
        display: block;
        border-radius: 10px;
        color: #fff;
        font-size: 17px;
        padding: 8px 15px;
        background-color: g.$orange;
        @include g.sp {
          font-size: 13px;
          border-radius: 4px;
          padding: 0px 6px;
          margin-right: 9px;
        }
      }
      &--news_ikejiri {
        a {
          background-color: g.$orange;
        }
      }
      &--news_gakugei {
        a {
          background-color: g.$blue;
        }
      }
    }
    &--date {
      font-size: 21px;
      font-weight: bold;
      @include g.sp {
        font-size: 15px;
      }
    }
  }
  &__title {
    font-size: 38px;
    margin-bottom: 46px;
    @include g.sp {
      font-size: 19px;
      margin-bottom: 16px;
    }
  }
  &__thumbnail {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 3px 16px rgba(0, 0, 0, 16%);
    margin-bottom: 30px;
    @include g.sp {
      border-radius: 10px;
      margin-bottom: 15px;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 16%);
      @include g.aspect;
      &::before {
        padding-top: 54.85%;
      }
    }
  }
  #toc_container {
    margin-bottom: 64px;
    width: 100%;
    border-radius: 10px;
    border: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
    padding: 28px 35px 24px;
    @include g.sp {
      margin-bottom: 35px;
      padding: 25px 20px 13px;
    }
    .toc {
      &_title {
        text-align: left;
        color: g.$orange;
        font-size: 21px;
        position: relative;
        padding-left: 43px;
        @include g.sp {
          font-size: 16px;
          padding-left: 34px;
        }
        &::before, &::after {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          display: block;
        }
        &::before { //オレンジ背景
          left: 0;
          width: 32px;
          height: 32px;
          border-radius: 6px;
          background-color: g.$orange;
          @include g.sp {
            width: 25px;
            height: 25px;
          }
        }
        &::after { //アイコン
          left: 5px;
          background: url(../img/single/icon_table.svg) no-repeat center center / cover;
          width: 21.5px;
          height: 21.5px;
          @include g.sp {
            left: 3.8px;
            width: 17px;
            height: 17px;
          }
        }
      }
      &_list {
        padding-left: 22px;
        font-size: 18px;
        font-weight: bold;
        margin-top: 26px !important;
        @include g.sp {
          padding-left: 0;
          font-size: 14px;
          margin-top: 12px !important;
        }
        a {
          color: #000;
        }
        >li + li {
          margin-top: 30px;
          @include g.sp {
            margin-top: 9px;
          }
        }
      }
      
    }
    ul ul {
      @include g.sp {
        margin-top: 3px;
        margin-left: 9px;
        line-height: 2.3;
      }
    }
  }
  &__content {
    margin-bottom: 25px;
    @include g.sp {
      margin-bottom: 13px;
    }
    &-inner {
      line-height: 1.8;
      padding: 30px 0;
      // max-width: 80%;
      margin: auto;
      @include g.sp {
        padding: 15px 0;
        // max-width: 100%;
      }
      // 見出し
      h2, h3, h4, h5, h6, p {
        margin-bottom: 26px;
        @include g.sp {
          margin-bottom: 10px;
        }
      }
      h2 {
        font-size: 32px;
        padding-left: 0.6em;
        line-height: 1.5;
        margin-top: 51px;
        position: relative;
        @include g.tb {
          font-size: 25px;
        }
        @include g.sp {
          font-size: 18px;
          padding-left: 0.3em;
          margin-top: 20px;
        }
        span {
          &::before { //見出し左オレンジ棒
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 9px;
            height: 100%;
            background-color: g.$orange;
            border-radius: 6px;
            @include g.sp {
              width: 3px;
            }
          }
        }
      }
      h3 {
        font-size: 26px;
        background-color: g.$bg-gray;
        border-radius: 20px;
        padding: 34px 23px;
        margin-top: 42px;
        line-height: 1;
        @include g.tb {
          font-size: 21px;
          padding: 20px;
        }
        @include g.sp {
          font-size: 16px;
          border-radius: 6px;
          padding: 13px 20px;
          margin-top: 20px;
        }
      }
      h4 {
        font-size: 20px;
        @include g.tb {
          font-size: 16px;
        }
        // @include g.sp {
        //   font-size: 14px;
        // }
      }
      h5 {
        font-size: clamp(16px, 1.25vw, 20px);
        // @include g.tb {
        //   font-size: 16px;
        // }
        @include g.sp {
          font-size: 14px;
        }
      }
      h6 {
        font-size: clamp(16px, 1.25vw, 20px);
        // @include g.tb {
        //   font-size: 14px;
        // }
        @include g.sp {
          font-size: 16px;
        }
      }
      p {
        font-size: 17px;
        letter-spacing: 0.072em;
        @include g.sp {
          font-size: 13px;
          line-height: 1.84;
        }
      }
      // 画像
      img,video {
        display: block;
        // max-width: 80% !important;
        // margin: 60px auto;
        // @include g.sp {
        //   max-width: 100% !important;
        // }
        &.alignleft {
          float: left;
        }
        &.aligncenter {
          margin: 20px auto;
        }
        &.alignright {
          float: right;
        }
      }
      img {
        width: inherit;
        margin: 30px 0;
        border-radius: 10px;
        @include g.sp {
          margin: 15px 0 10px;
        }
      }
      video {
      margin: 60px auto;
      }
      // youtube, スピーカーデック
      .is-type-video, .is-type-rich {
        // max-width: 80%;
        margin: 60px auto;
        // @include g.sp {
        //   max-width: 100%;
        // }
        .wp-block-embed__wrapper {
          position: relative;
          width: 100%;
          height: 0;
          padding-top: 56.25%;
          text-align: center;
          iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
      }
      a {
        color: g.$orange;
        text-decoration: underline;
      }
    }
  }
  // &__category {
  //   &-list {
  //     display: flex;
  //     gap: 20px;
  //     margin-bottom: 60px;
  //   }
  //   &-item {
  //     a {
  //       display: inline-block;
  //       color: g.$red;
  //       font-weight: 700;
  //       padding: 10px 20px;
  //       border: 1px solid g.$red;
  //       border-radius: 26px;
  //       background-color: #fff;
  //     }
  //     &.current-cat {
  //       a {
  //         color: #fff;
  //         background-color: g.$red;
  //       }
  //     }
  //   }
  // }
  // &__item {
  //   border-top: 1px solid #e6e6e6;
  //   padding: 20px 0;
  //   display: flex;
  //   &:last-child {
  //     border-bottom: 1px solid #e6e6e6;
  //   }
  //   &-info {
  //     display: flex;
  //     align-items: center;
  //     &--date, &--cat {
  //       display: block;
  //       color: #767676;
  //     }
  //     &--cat {
  //       font-size: 14px;
  //       margin-left: 25px;
  //       width: 80px;
  //       @include g.sp {
  //         font-size: 12px;
  //       }
  //     }
  //   }
  //   &-title {
  //     font-size: clamp(16px, 1.25vw, 20px);
  //     margin-left: 25px;
  //     @include g.sp {
  //       font-size: 14px;
  //     }
  //     a {
  //       @include g.u-line;
  //     }
  //   }
  // }
}