@use "global" as g;

.sitemap {
  &__inner {
    padding-top: 116px;
    padding-bottom: 156px;
    display: flex;
    justify-content: space-between;
    gap: 2%;
    @include g.sp {
      padding-top: 40px;
      flex-direction: column;
    }
  }
  &__container {
    width: 21.5%;
    @include g.tb {
      width: 100%;
    }
    @include g.sp {
      margin-bottom: 38px;
    }
    &--menu {
      width: 48%;
      // @include g.xl {
      //   width: auto;
      // }
      @include g.tb {
        width: 32%;
      }
      @include g.sp {
        width: 100%;
      }
    }
    &--school {
      margin-left: -26px;
      @include g.tb {
        margin-left: 0;
      }
    }
  }
  &__list {
    @include g.sp {
      display: flex;
      flex-wrap: wrap;
      gap: 0px 20px;
    }
    &-title {
      font-size: 29px;
      font-weight: bold;
      margin-bottom: 34px;
      @include g.sp {
        font-size: 18px;
        margin-bottom: 2px;
      }
      &--menu {
        color:  g.$orange;
        margin-bottom: 15px;
        @include g.sp {
          margin-bottom: 3px;
        }
      }
      &--school {
        color: g.$blue;
      }
      &--info {
        color: #ADADAD;
      }
    } 
    &--menu {
      display: flex;
      flex-wrap: wrap;
      // @include g.xl {
      //   flex-direction: column;
      // }
      @include g.sp {
        flex-direction: inherit;
      }
    }
  }
  &__item {
    width: 100%;
    // max-width: 230px;
    border-bottom: 1px solid #000;
    font-size: 21px;
    @include g.tb {
      width: 100%;
    }
    @include g.sp {
      width: 47%;
      font-size: 14px;
    }
    a {
      margin-top: 19.5px;
      padding-bottom: 18px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include g.sp {
        margin-top: 18px;
        padding-bottom: 12.3px;
      }
      &:hover {
        color: g.$orange;
        img {
          transform: translate(0.25vw);
        }
      }
    }
    span {
      display: inline-block;
    }
    img {
      width: inherit;
      height: inherit;
      transition: 0.3s;
      @include g.sp {
        width: 9px;
      }
    }
    &--menu {
      width: 45.3%;
      @include g.tb {
        width: 100%;
      }
      @include g.sp {
        width: 47%;
      }
      &:nth-child(2n) {
        margin-left: 5.3%;
        @include g.tb {
          margin-left: 0;
        }
        // @media (max-width: 1280px) {
        //   margin-left: 0;
        // }
      }
    }
  }
}