@use "global" as g;

/* sec_skills
====================================== */
.sec_skills {
  &__inner {
    padding-top: 78px;
    padding-bottom: 99px;
    @include g.sp {
      padding-top: 51px;
      padding-bottom: 48px;
    }
  }
  &__title {
    margin-bottom: 37px;
    @include g.sp {
      margin-bottom: 20px;
    }
  }
  &__text {
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 38px;
    @include g.sp {
      font-size: 18px;
      margin-bottom: 14px;
    }
  }
  &__img {
    max-width: 848px;
    margin: auto;
    @include g.sp {
      // max-width: 400px;
      margin-left: -7px;
      margin-right: -7px;
    }
  }
}

/* sec_communication
====================================== */
.sec_communication {
  margin-bottom: 40px;
  @include g.sp {
    margin-bottom: 0;
  }
  &__upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 58px;
    padding-left: 13.54%;
    padding-bottom: 58px;
    background: linear-gradient(to bottom, #F8A719, #F8BC19);
    @include g.xl {
      flex-direction: column;
      padding-left: g.$padding-pc;
    }
    @include g.sp {
      padding-left: g.$padding-sp;
      padding-bottom: 24px;
      padding-top: 50px;
    }
    &-left {
      width: 43%;
      padding-top: 89px;
      @include g.xl {
        width: 100%;
        margin-bottom: 60px;
        padding-right: g.$padding-pc;
        padding-top: 0;
      }
      @include g.sp {
        padding-right: g.$padding-sp;
        margin-bottom: 20px;
      }
    }
    &-text {
      font-size: 21px;
      font-weight: bold;
      color: #fff;
      line-height: 1.857;
      @include g.sp {
        font-size: 13px;
        line-height: 1.692;
      }
    }
    &-right {
      width: 54.8%;
      background-color: #fff;
      border-radius: 50px 0 0 50px;
      padding: 27px 25px 28px 91px;
      box-shadow: 0 0 9px rgba(0, 0, 0, 16%);
      position: relative;
      @include g.xl {
        width: 100%;
      }
      @include g.sp {
        border-radius: 30px 0 0 30px;
        padding: 11px 20px;
      }
      &-text {
        position: absolute;
        top: 10px;
        right: 24px;
        font-size: 18px;
        // text-align: right;
        line-height: 1.944;
        // transform: translateY(50%);
        @include g.sp {
          top: 3px;
          right: 20px;
          font-size: 8px;
          line-height: 1.75;
        }
      }
      &-img {
        img {
          max-width: 710px;
          @include g.sp {
            margin: auto;
            max-width: 313px;
          }
        }
      }
    }
  }
  &__title {
    margin-bottom: 24px;
    @include g.sp {
      text-align: left;
      margin-bottom: 20px;
    }
    &-main {
      min-width: 712px;
      font-size: clamp(36px, 2.76vw, 53px);
      color: #fff;
      padding: inherit; 
      @include g.sp {
        font-size: 23px;
      }
    }
    &-sub {
      color: #fff;
      font-size: 31px;
      @include g.sp {
        font-size: 13px;
      }
    }
    &-bg {
      color: rgba(255, 255, 255, 15%);
      font-size: clamp(118px, 13.54vw, 260px);
      transform: translateY(-52%);
      @include g.sp {
        left: 0;
        transform: translateY(-50%);
      }
    }
    img {
      margin-left: 17px;
      @include g.sp {
        margin-left: 4px;
      }
    }
  }
  &__item {
    display: flex;
    @include g.tb {
      flex-direction: column;
    }
    &:nth-child(2n) {
      flex-direction: row-reverse;
      @include g.tb {
        flex-direction: column;
      }
      .sec_communication__item-contents {
        padding: 45px 48px 45px 3.125%;
        @include g.sp {
          padding: 20px g.$padding-sp 37px;
        }
      }
    }
    &-img {
      width: 56.4%;
      @include g.tb {
        width: 100%;
      }
    }
    &-contents {
      width: 43.6%;
      background-color: g.$bg-gray;
      padding: 45px 3.125% 45px 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      @include g.tb {
        width: 100%;
      }
      @include g.sp {
        padding: 20px g.$padding-sp 32px;
      }
    }
    &-upper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 23px;
      width: 100%;
      @include g.sp {
        flex-direction: column-reverse;
        align-items: start;
        margin-bottom: 10px;
      }
    }
    &-title {
      margin-bottom: 10px;
      @include g.sp {
        margin-bottom: 0;
      }
      span {
        font-size: 34px;
        font-weight: bold;
        vertical-align: middle;
        @include g.sp {
          font-size: 23px;
        }
      }
      img {
        width: auto;
        height: auto;
        margin-left: 8px;
        @include g.sp {
          width: 23px;
        }
      }
    }
    &-skills {
      display: flex;
      // justify-content: flex-end;
      align-items: center;
      border-radius: 6px;
      border: 1px solid #fff;
      margin-bottom: 10px;
      @include g.sp {
        margin-bottom: 15px;
      }
    }
    &-skill {
      width: 50%;
      min-width: 180px;
      padding: 11px;
      background-color: #fff;
      color: g.$orange;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      border: 1px solid #fff;
      @include g.sp {
        padding: 8px;
        font-size: 13px;
        min-width: 106px;
      }
      &.is_current {
        color: #fff;
        background: linear-gradient(to 70deg, #F8BC19, #F8A719);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
      }
      &:first-child {
        &.is_current {
          border-radius: 6px 0 0 6px;
        }
      }
      &:last-child {
        &.is_current {
          border-radius: 0 6px 6px 0;
        }
      }
    }
    &-text {
      font-size: 17px;
      font-weight: bold;
      line-height: 1.764;
      margin-bottom: 30px;
      @include g.sp {
        font-size: 12px;
        line-height: 1.58;
        margin-bottom: 28px;
      }
    }
    &-btn {
      max-width: 280px;
      margin: 0 auto 0 25px;
      @include g.tb {
        margin-left: auto;
      }
      @include g.sp {
        max-width: 263px;
      }
      a {
        font-size: 13px;
        padding: 12.5px;
        @include g.sp {
          font-size: 14px;
        }
        &::before, &::after {
          width: 14px;
          height: 14px;
          @include g.sp {
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }
}

/* sec_mental
====================================== */
.sec_mental {
  &__upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-left: 13.54%;
    padding-bottom: 51px;
    background: linear-gradient(to bottom, g.$blue, g.$green);
    @include g.xl {
      flex-direction: column;
      padding-left: g.$padding-pc;
    }
    @include g.sp {
      padding-top: 85px;
      padding-left: g.$padding-sp;
      padding-bottom: 27px;
    }
    &-left {
      width: 42%;
      padding-top: 30px;
      @include g.xl {
        width: 100%;
        margin-bottom: 60px;
        padding-right: g.$padding-pc;
        padding-top: 0;
      }
      @include g.sp {
        padding-right: g.$padding-sp;
        margin-bottom: 20px;
      }
    }
    &-text {
      font-size: 21px;
      font-weight: bold;
      color: #fff;
      line-height: 1.857;
      @include g.sp {
        font-size: 13px;
        line-height: 1.692;
      }
    }
    &-right {
      width: 54.8%;
      background-color: #fff;
      border-radius: 50px 0 0 50px;
      padding: 90px 32px 98px;
      box-shadow: 0 0 9px rgba(0, 0, 0, 16%);
      position: relative;
      @include g.xl {
        width: 100%;
      }
      @include g.sp {
        padding: 40px 12px 45px;
        border-radius: 30px 0 0 30px;
      }
      &-title {
        font-size: 44px;
        font-weight: bold;
        text-align: center;
        color: g.$blue;
        margin-bottom: 49px;
        @include g.xl {
          padding-right: 6%;
        }
        @include g.sp {
          font-size: 20px;
          margin-bottom: 25px;
        }
      }
      &-circles {
        display: flex;
        justify-content: space-between;
        @include g.xl {
          padding-right: 6%;
        }
        @include g.sp {
          max-width: 450px;
          margin: auto;
        }
      }
      &-circle {
        width: 225px;
        // height: 225px;
        border-radius: 50%;
        background: linear-gradient(to bottom, g.$blue, g.$green);
        position: relative;
        @include g.aspect;
        &::before {
          padding-top: 100%;
        }
        @include g.sp {
          width: 102px;
          height: 102px;
        }
        span {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: block;
          width: 100%;
          font-size: 44px;
          font-weight: bold;
          color: #fff;
          line-height: 1.227;
          text-align: center;
          @include g.sp {
            font-size: 20px;
          }
        }
      }
    }
  }
  &__title {
    margin-bottom: 24px;
    @include g.sp {
      text-align: left;
      margin-bottom: 20px;
    }
    &-main {
      min-width: 712px;
      font-size: clamp(36px, 2.76vw, 53px);
      color: #fff;
      padding: inherit; 
      margin-bottom: 4px;
      @include g.sp {
        font-size: 23px;
      }
    }
    &-sub {
      color: #fff;
      font-size: 31px;
      @include g.sp {
        font-size: 13px;
      }
    }
    &-bg {
      color: rgba(255, 255, 255, 15%);
      font-size: clamp(118px, 13.54vw, 260px);
      transform: translateY(-38%);
      @include g.sp {
        left: 0;
        transform: translateY(-50%);
      }
    }
    img {
      margin-left: 28px;
      @include g.sp {
        margin-left: 4px;
      }
    }
  }
  &__item {
    display: flex;
    @include g.tb {
      flex-direction: column;
    }
    &:nth-child(2n) {
      flex-direction: row-reverse;
      @include g.tb {
        flex-direction: column;
      }
      .sec_mental__item-contents {
        padding: 60px 38px 60px 3.125%;
        @include g.sp {
          padding: 23px g.$padding-sp 32px;
        }
      }
    }
    &-img {
      width: 56.4%;
      @include g.tb {
        width: 100%;
      }
    }
    &-contents {
      width: 43.6%;
      background-color: g.$bg-gray;
      padding: 60px 3.125% 60px 38px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      @include g.tb {
        width: 100%;
      }
      @include g.sp {
        padding: 23px g.$padding-sp 28px;
      }
    }
    &-upper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 15px;
      width: 100%;
      @include g.sp {
        flex-direction: column-reverse;
        align-items: start;
        margin-bottom: 9px;
      }
    }
    &-title {
      margin-bottom: 10px;
      @include g.sp {
        margin-bottom: 0;
      }
      span {
        font-size: 34px;
        font-weight: bold;
        vertical-align: middle;
        @include g.sp {
          font-size: 23px;
        }
      }
      img {
        width: auto;
        height: auto;
        margin-left: 8px;
        @include g.sp {
          margin-left: 4px;
          width: 19px;
        }
      }
    }
    &-skills {
      display: flex;
      // justify-content: flex-end;
      align-items: center;
      border-radius: 6px;
      border: 1px solid #fff;
      margin-bottom: 10px;
      @include g.sp {
        margin-bottom: 16px;
      }
    }
    &-skill {
      width: calc(100% / 3);
      min-width: 142px;
      padding: 14.75px;
      background-color: #fff;
      color: g.$blue;
      font-size: 19px;
      font-weight: bold;
      text-align: center;
      border: 1px solid #fff;
      @include g.sp {
        font-size: 11px;
        min-width: 86px;
        padding: 8px;
      }
      &.is_current {
        color: #fff;
        background: linear-gradient(to 70deg, g.$green, g.$blue);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
      }
      &:first-child {
        &.is_current {
          border-radius: 6px 0 0 6px;
        }
      }
      &:last-child {
        &.is_current {
          border-radius: 0 6px 6px 0;
        }
      }
    }
    &-text {
      font-size: 15px;
      font-weight: bold;
      line-height: 1.667;
      @include g.sp {
        font-size: 12px;
        line-height: 1.5833;
      }
      span {
        display: block;
        margin-bottom: 25px;
        @include g.sp {
          margin-bottom: 20px;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &-btn {
      max-width: 280px;
      margin: 0 auto 0 25px;
      @include g.tb {
        margin-left: auto;
      }
      @include g.sp {
        max-width: 263px;
      }
      a {
        font-size: 13px;
        padding: 12.5px;
        @include g.sp {
          font-size: 14px;
        }
        &::before, &::after {
          width: 14px;
          height: 14px;
          @include g.sp {
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }
}
