///// DNPShueiMgothicStd /////

// L
@font-face {
  font-family: 'DNP 秀英丸ゴシック Std';
  src: url('../fonts/DNPShueiMgothicStd_L.woff2') format('woff2');
}

// B
@font-face {
  font-family: 'DNP 秀英丸ゴシック Std';
  src: url('../fonts/DNPShueiMgothicStd_B.woff2') format('woff2');
  font-weight: bold;
}