///// Noto Sans JP /////

// Regular
@font-face {
  font-family: 'Noto Sans JP';
  src: url('../fonts/NotoSansJP_R.woff2') format('woff2');
}
// Bold
@font-face {
  font-family: 'Noto Sans JP';
  src: url('../fonts/NotoSansJP_B.woff2') format('woff2');
  font-weight: bold;
}