@use "../global" as g;

.breadcrumbs {
  position: absolute;
  left: 3.125%;
  bottom: 25px;
  background-color: #fff;
  border-radius: 100px;
  padding: 5.5px 13.5px;
  font-size: 14px;
  font-weight: bold;
  @include g.sp {
    left: 5%;
    font-size: 10px;
    padding: 4px 6px;
  }
  &__home, &__arrow {
    vertical-align: middle;
    display: inline-block;
  }
  &__home {
    width: 27px;
    height: 27px;
    background-color: g.$orange;
    border-radius: 50%;
    text-align: center;
    margin-right: 2px;
    @include g.sp {
      width: 20px;
      height: 20px;
      margin-right: 1px;
    }
    > span {
      display: inline-block;
      width: 18.7px;
      height: 18.7px;
      background: url(../img/icon_home.svg) no-repeat center center / contain;
      @include g.sp {
        width: 13.9px;
        height: 13.9px;
      }
    }
  }
  &__arrow {
    width: 6px;
    height: 12px;
    margin: 0 7px;
    background: url(../img/icon_arrow-orange.svg) no-repeat center center / contain;
    @include g.sp {
      margin: 0 5px;
    }
  }
  span {
    vertical-align: middle;
  }
  span[property="name"] { // タイトルの長さ調整
    display: inline-block;
    padding: 0;
    // margin-top: -3px;
    // vertical-align: middle;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}