@use "../global" as g;


/* headline
========================================= */
.headline {
  background-color: #fff;
  &__inner {
    padding-right: 13.54%;
    position: relative;
    z-index: 0;
    @include g.sp {
      padding-right: 16%;
      height: 55vh;
      min-height: 464px;
    }
    &::after { //オレンジ背景
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      display: block;
      width: 58%;
      height: 29.5vw;
      background-color: g.$orange;
      @include g.sp {
        height: 48.5vh;
      }
    }
  }
  &__img {
    position: relative;
    border-radius: 0 0 100px 0;
    overflow: hidden;
    @include g.sp {
      height: 100%;
      border-radius: 0 0 30px 0;
    }
    &::before { //画像フィルター（オレンジ）
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background: linear-gradient(to right top, rgba(246, 166, 49, 0%) 0%, rgba(246, 166, 49, 15%) 80%, rgba(246, 166, 49, 100%) 100% );
    }
  }
  &__title {
    font-weight: bold;
    position: absolute;
    top: 36%;
    right: 3.125%;
    color: #fff;
    text-align: right;
    @include g.sp {
      right: 4%;
    }
    &-en {
      font-family: g.$font-en;
      // font-size: 131px;
      font-size: min(7vw, 131px);
      line-height: 1.3;
      @include g.sp {
        font-size: 68px;
      }
      &--english {
        line-height: 1;
      }
    }
    &-jp {
      // font-size: 43px;
      font-size: min(2.3vw, 43px);
      @include g.sp {
        font-size: 22px;
      }
    }
    &-note {
      font-size: min(1.25vw, 24px);
      display: inline-block;
      margin-top: 0.5em;
      background-color: #fff;
      color: #000;
      border-radius: 40px;
      padding: 0.5em 1em;
      @include g.sp {
        font-size: 12px;
      }
    }
  }
  /////////オレンジアイコン///////////
  &__icons {
    position: absolute;
    left: 16%;
    bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 27px;
    @include g.xl {
      left: 20%;
      gap: 20px;
    }
    @include g.tb {
      left: 30%;
      gap: 8px;
    }
    @include g.sp {
      left: g.$padding-sp;
      bottom: 80px;
    }
    &--kb {
      left: calc(3.125% + 300px);
      @include g.sp {
        left: 5.128%;
      }
    }
    &-item {
      width: 164px;
      height: 164px;
      border-radius: 50%;
      background: linear-gradient(to bottom, #F8A719, #F8BC19);
      box-shadow: 0 0 6px rgba(0, 0, 0, 20%);
      color: #fff;
      font-size: 18px;
      font-weight: bold;
      position: relative;
      z-index: 0;
      @include g.xl {
        width: 123px;
        height: 123px;
        font-size: 13px;
      }
      @include g.tb {
        width: 82px;
        height: 82px;
        font-size: 11px;
      }
      &-note {
        color: #000;
        font-size: 15px;
        position: absolute;
        bottom: -28px;
        width: 100%;
        text-align: center;
        @include g.tb {
          font-size: 10px;
          bottom: -20px;
        }
        @include g.sp {
          color: #fff;
        }
        &--kb {
          background-color: rgba(255, 255, 255, 0.5);
        }
      }
      &--01 {
        background: linear-gradient(to bottom, g.$blue, g.$green); //01のみ青枠
        @include g.tb {
          font-size: 10px;
        }
        &::after { //オレンジ背景（枠線をつけるため）
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          z-index: -1;
          transform: translate(-50%, -50%);
          display: block;
          width: 150px;
          height: 150px;
          // width: 164px;
          // height: 164px;
          border-radius: 50%;
          background: linear-gradient(to bottom, #F8A719, #F8BC19);
          @include g.xl {
            width: 112px;
            height: 112px;
          }
          @include g.tb {
            width: 76px;
            height: 76px;
          }
        }
        img {
          @include g.tb {
            margin: -26px auto -18px !important;
          }
        }
      }
      &-inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
      }
      img, span {
        display: block;
      }
      img {
        width: auto;
        height: auto;
        margin: 0 auto 6px;
        @include g.xl {
          transform: scale(0.75);
          margin: 0 auto;
        }
        @include g.tb {
          transform: scale(0.5);
          margin: -15px auto -13px;
        }
      }
      span {
        text-align: center;
        line-height: 1.3;
        @include g.sp {
          line-height: 1.1;
        }
        &.small {
          font-size: 12px;
          @include g.xl {
            font-size: 10px;
          }
        }
      }
    }
  }
}