@use "../global" as g;

.loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 50;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  &.loaded {
    left: 100%;
    .loader__img {
      opacity: 0;
      visibility: hidden;
    }
  }
  &__img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100px;
    transition: 1s;
  }
}

// @keyframes loaderEndAnimation {
//   0% {
//     // transform: translateX(0);
//     left: 0;
//   }
//   100% {
//     // transform: translateX(100%);
//     left: 100%;
//   }
// }
// .loader__squares, .loader__squares * {
//   box-sizing: border-box;
// }

// .loader__squares {
//   height: 40px;
//   width: 40px;
//   position: relative;
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   justify-content: center;
//   animation: loaderSquaresAnimation 1250ms;
//   animation-iteration-count: infinite;
//   transform: rotate(0deg);
//   &-wrapper {
//     // display: none;
//   }
//   .square {
//     height: calc(40px * 0.25 / 1.3);
//     width: calc(40px * 0.25 / 1.3);
//     margin-right: auto;
//     margin-left: auto;
//     border: calc(40px * 0.04 / 1.3) solid g.$main-gold;
//     position: absolute;
//     animation-duration: 1250ms;
//     animation-iteration-count: infinite;
//     &:nth-child(1) {
//       animation-name: loaderSquaresAnimation01;
//     }
//     &:nth-child(2) {
//       animation-name: loaderSquaresAnimation02;
//     }
//     &:nth-child(3) {
//       animation-name: loaderSquaresAnimation03;
//     }
//     &:nth-child(4) {
//       animation-name: loaderSquaresAnimation04;
//     }
//   }
// }


// @keyframes loaderSquaresAnimation {
//   50% {
//     transform: rotate(90deg);
//   }
//   100% {
//     transform: rotate(180deg);
//   }
// }

// @keyframes loaderSquaresAnimation01 {
//   50% {
//     transform: translate(150%,150%) scale(2,2);
//   }
// }

// @keyframes loaderSquaresAnimation02 {
//   50% {
//     transform: translate(-150%,150%) scale(2,2);
//   }
// }

// @keyframes loaderSquaresAnimation03 {
//   50% {
//     transform: translate(-150%,-150%) scale(2,2);
//   }
// }

// @keyframes loaderSquaresAnimation04 {
//   50% {
//     transform: translate(150%,-150%) scale(2,2);
//   }
// }