@use "../global" as g;

/* sec_faq
====================================== */
.sec_faq {
  background-color: g.$bg-gray;
  &.page_faq {
    background-color: #fff;
    .sec_faq__inner {
      padding-top: 120px;
      padding-bottom: 189px;
      @include g.sp {
        padding-top: 55px;
        padding-bottom: 49px;
      }
    }
  }
  &__inner {
    padding-top: 86px;
    padding-bottom: 85px;
    max-width: calc(g.$contents-size-s + g.$padding-pc * 2);
  }
  &__title {
    margin-bottom: 33px;
    @include g.sp {
      margin-bottom: 25px;
    }
  }
  &__list {
    margin-bottom: 55px;
    @include g.sp {
      margin-bottom: 37px;
    }
  }
  &__item {
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    @include g.sp {
      border-radius: 5px;
    }
    &:nth-child(n+2) {
      margin-top: 20px;
      @include g.sp {
        margin-top: 14px;
      }
    }
    &-inner {
      display: flex;
      @include g.sp {
        line-height: 1.61;
      }
      span {
        display: block;
        a {
          color: g.$orange;
        }
      }
    }
    &-question, &-answer {
      font-size: 22px;
      @include g.sp {
        font-size: 13px;
      }
    }
    &-question {
      background-color: g.$blue;
      color: #fff;
      font-weight: bold;
      // border-radius: 10px 10px 0 0;
      padding: 15px 27px;
      position: relative;
      @include g.sp {
        padding: 6px 22px 6px 11px;
      }
      .sec_faq__item-inner {
        align-items: center;
      }
      .q {
        font-family: g.$font-en;
        font-size: 36px;
        font-weight: bold;
        margin-right: 21px;
        @include g.sp {
          font-size: 24px;
          margin-right: 5px;
        }
      }
      &::after { //矢印
        content: '';
        position: absolute;
        top: 50%;
        right: 1.6%;
        transform: translateY(-50%);
        display: block;
        width: 28.5px;
        height: 19px;
        background: url(../img/common/faq_arrow.svg) no-repeat center center / cover;
        transition: 0.3s;
        @include g.sp {
          width: 14px;
          height: 9px;
        }
      }
    }
    &-answer {
      display: none;
      background-color: #fff;
      // border-radius: 0 0 10px 10px;
      line-height: 1.81;
      padding: 11px 45px 18px 32px;
      @include g.sp {
        padding: 6px 11px 6px 11px;
      }
      .a {
        font-family: g.$font-en;
        font-size: 36px;
        font-weight: bold;
        color: g.$orange;
        margin-right: 21px;
        @include g.sp {
          font-size: 24px;
          margin-right: 5px;
          line-height: 1.3;
        }
      }
    }
    &.is-open { //開いたとき
      .sec_faq__item-question {
        &::after {
          transform: translateY(-50%) rotate(180deg);
        }
      }
    }
  }
}