@use "../global" as g;

/*------------------------------------------------
 footer
------------------------------------------------*/
.footer {
  position: relative;
  &__inner {
    // background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 95px 60px;
    @media (min-width:1870px) {
      padding: 103px calc(50vw - calc(1800px / 2)) 122px;
    }
    @include g.xl {
      flex-direction: column;
    }
    @include g.sp() {
      padding: 46px g.$padding-sp 69px;
    }
  }
  // 左
  &__left {
    width: 15%;
    min-width: 200px;
    @include g.xl() {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 60px;
    }
    @include g.sp {
      margin-bottom: 39px;
    }
    &-inner {
      @include g.sp {
        width: 43.8%;
      }
    }
  }
  &__logo {
    margin-bottom: 46px;
    @include g.sp {
      margin-bottom: 10px;
    }
    a {
      display: inline-block;
      width: 100%;
      height: 100%;
    }
  }
  &__sns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-item {
      img {
        width: inherit;
      }
      @include g.sp {
        &:nth-child(1), &:nth-child(2) {
          width: 13%;
        }
        &:nth-child(3) {
          width: 18%;
        }
        &:nth-child(4) {
          width: 15%;
        }
        img {
          width: 100%;
        }
      }
    }
  }
  // 中央
  &__center {
    width: 59.5%;
    margin-left: 0.5%;
    margin-top: -5px;
    display: flex;
    justify-content: space-between;
    gap: 2%;
    @include g.xl {
      width: 100%;
      margin-top: 0;
      margin-bottom: 60px;
    }
    @include g.sp {
      flex-direction: column;
      margin-left: 0;
      margin-top: 0;
      margin-bottom: 3px;
    }
    &-container {
      @include g.sp {
        margin-bottom: 38px;
      }
      &--menu {
        width: 25.625vw;
        @include g.xl {
          width: auto;
        }
        @include g.sp {
          width: 100%;
        }
      }
    }
  }
  &__list {
    @include g.sp {
      display: flex;
      flex-wrap: wrap;
      gap: 0px 20px;
    }
    &-title {
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 29px;
      @include g.sp {
        font-size: 18px;
        margin-bottom: 2px;
      }
      &--menu {
        color:  g.$orange;
        margin-bottom: 13px;
        @include g.sp {
          margin-bottom: 3px;
        }
      }
      &--school {
        color: g.$blue;
      }
      &--info {
        color: #ADADAD;
      }
    } 
    &--menu {
      display: flex;
      flex-wrap: wrap;
      @include g.xl {
        flex-direction: column;
      }
      @include g.sp {
        flex-direction: inherit;
      }
    }
  }
  &__item {
    width: 12vw;
    max-width: 230px;
    border-bottom: 1px solid #000;
    font-size: clamp(14px, 0.9375vw, 18px);
    @include g.xl {
      width: 27vw;
    }
    @include g.sp {
      width: 47%;
      font-size: 14px;
    }
    a {
      margin-top: 16.5px;
      padding-bottom: 15.5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include g.sp {
        margin-top: 18px;
        padding-bottom: 12.3px;
      }
      &:hover {
        color: g.$orange;
        img {
          transform: translate(0.25vw);
        }
      }
    }
    span {
      display: inline-block;
    }
    img {
      width: inherit;
      height: inherit;
      transition: 0.3s;
      @include g.sp {
        width: 9px;
      }
    }
    &--menu {
      &:nth-child(2n) {
        margin-left: 1.6vw;
        @media (max-width: 1280px) {
          margin-left: 0;
        }
      }
    }
  }
  // 右
  &__right {
    width: 18.6%;
    @include g.xl {
      width: 50%;
    }
    @include g.tb() {
      width: 100%;
      // padding-left: 8%;
    }
    @include g.sp() {
      padding-left: 0;
    }
  }
  &__address {
    &-title {
      display: inline-block;
      font-size: 25px;
      line-height: 1;
      font-weight: bold;
      color: #fff;
      background-color: g.$orange;
      padding: 7px 16px;
      border-radius: 6px;
      margin-top: -8px;
      margin-bottom: 34px;
      @include g.xl {
        margin-top: 0;
      }
      @include g.sp {
        font-size: 18px;
        margin-top: 0;
        padding: 5.5px 10.5px;
        margin-bottom: 18px;
      }
    }
    &-map {
      border-radius: 10px;
      margin-bottom: 14px;
      overflow: hidden;
      position: relative;
      z-index: 1; //iphon実機でborder-radiusが効かない事象を解消
      @include g.sp {
        margin-bottom: 6px;
      }
      &::before {
        content: "";
        display: block;
        padding-top: 56.76%;
        @include g.xl {
          padding-top: 38%;
        }
        @include g.sp {
          padding-top: 46.85%;
        }
      }
      .gmp_map_opts {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      // iframe {
      //   filter: grayscale(100%);
      // }
    }
    &-text {
      font-size: clamp(14px, 0.9375vw,18px);
      line-height: 1.61;
      @include g.xl {
        font-size: 16px;
      }
      @include g.sp {
        font-size: 14px;
      }
    }
  }
  &__copy {
    background-color: #F8F8F8;
    padding: 25px;
    @include g.sp {
      padding: 11px;
    }
    &-reserved {
      font-family: g.$font-en;
      text-align: center;
      margin-bottom: 1em;
      @include g.sp {
        font-size: 12px;
      }
    }
    &-lower-right {
      text-align: right;
      @include g.sp {
        font-size: 12px;
      }
    }
  }
}