@use "../global" as g;

*{
  box-sizing: border-box;
}
a {
  transition: .1s;
  cursor: pointer;
  text-decoration: none;
  color: g.$base_font_color;
}
li{
  list-style: none;
}
img,video,iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}