@use "../global" as g;

/* btn 
========================================= */
.btn {
  position: relative;
  transition: .5s;
  a {
    cursor: pointer;
    padding: 20px 0;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    @include g.sp {
      padding: 12px 0;
      font-size: 14px;
    }
  }
  &__white {
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    max-width: 386px;
    @include g.sp {
      max-width: 263px;
    }
    &--small {
      max-width: 280px;
    }
    &--large {
      max-width: inherit;
    }
    a {
      display: block;
      width: 100%;
      text-align: center;
      padding: 18px;
      background-color: #fff;
      transition: .3s;
      border: 2px solid #000;
      border-radius: 100px;
      position: relative;
      @include g.sp {
        padding: 12px 0;
      }
      &::after, &::before { //三角形▶（共通）
        content: '';
        position: absolute;
        top: 50%;
        right: 6.4%;
        transform: translateY(-50%);
        display: block;
        width: 18px;
        height: 18px;
        @include g.sp {
          width: 16px;
          height: 16px;
        }
      }
      &::before { //三角形▶（オレンジ）
        background: url(../img/triangle-orange.svg) no-repeat center center / cover;
        transition : 0.3s;
      }
      &::after { //三角形▶（白）
        background: url(../img/triangle-white.svg) no-repeat center center / cover;
        opacity: 0;
        transition: 0.3s;
      }

      &:hover {
        color: #fff;
        background-color: g.$orange;
        border: 2px solid #fff;
        &::before {
          opacity: 0;
        }
        &::after {
          opacity: 1; 
        }
      }
    }
    span {
      position: relative;
      z-index: 1;
    }
  }
}