@charset "UTF-8";
/* news
====================================== */
.news__inner {
  padding-top: 107px;
  padding-bottom: 164px;
}
@media (max-width: 768px) {
  .news__inner {
    padding-top: 51px;
    padding-bottom: 57px;
  }
}
.news__category {
  max-width: 360px;
  margin: auto;
  text-align: center;
  border: 2px solid #40C1C9;
  border-radius: 55px;
  margin-bottom: 78px;
}
@media (max-width: 768px) {
  .news__category {
    max-width: 241px;
    margin-bottom: 48px;
  }
}
.news__category-list {
  display: none;
  padding-bottom: 15px;
}
.news__category-item p, .news__category-item a {
  padding: 17px;
  font-size: 22px;
  font-weight: bold;
}
@media (max-width: 768px) {
  .news__category-item p, .news__category-item a {
    padding: 11px;
    font-size: 14px;
  }
}
.news__category-item p {
  color: #8D8D8D;
  position: relative;
}
.news__category-item p::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 9%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 21px;
  height: 10.5px;
  background: url(../img/icon_arrow-gray.svg) no-repeat center center/cover;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 768px) {
  .news__category-item p::after {
    width: 14px;
    height: 7px;
  }
}
.news__category-item p:hover {
  cursor: pointer;
}
.news__category-item.is-open p::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}
.news__category-item a {
  display: block;
}
@media (max-width: 768px) {
  .news__category-item a {
    font-weight: 500;
  }
}
.news__category-item a:hover {
  color: #F6A631;
}
.news__category-item.current-cat a {
  color: #40C1C9;
}
.news__container {
  margin-bottom: 64px;
}
@media (max-width: 768px) {
  .news__container {
    margin-bottom: 16px;
  }
}
.news__item {
  border: 1px solid #707070;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 15px 17px;
}
@media (max-width: 768px) {
  .news__item {
    margin-bottom: 16px;
    padding: 6px 9px;
  }
}
.news__item a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3%;
}
.news__item a:hover .news__item-title {
  background-size: 100% 2px;
}
.news__item-img {
  width: 20%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.news__item-img::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
.news__item-img img, .news__item-img video, .news__item-img iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .news__item-img {
    width: 44%;
    border-radius: 5px;
  }
}
.news__item-img::before {
  padding-top: 67.6%;
}
.news__item-contents {
  width: 78%;
}
@media (max-width: 768px) {
  .news__item-contents {
    width: 53%;
  }
}
.news__item-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 7px;
}
@media (max-width: 768px) {
  .news__item-info {
    margin-bottom: 10px;
  }
}
.news__item-info--date, .news__item-info--cat {
  display: block;
  font-size: 14px;
  font-weight: 200;
}
@media (max-width: 768px) {
  .news__item-info--date, .news__item-info--cat {
    font-size: 11px;
  }
}
.news__item-info--cat {
  color: #fff;
  padding: 13px 25px;
  border-radius: 6px;
  line-height: 1;
  margin-right: 1.5%;
  background-color: #A0A0A0;
}
@media (max-width: 768px) {
  .news__item-info--cat {
    border-radius: 5px;
    padding: 2px 6px;
  }
}
.news__item-info--cat--news_ikejiri {
  background-color: #F6A631;
}
.news__item-info--cat--news_gakugei {
  background-color: #40C1C9;
}
.news__item-info--date {
  width: 150px;
}
@media (max-width: 768px) {
  .news__item-info--date {
    width: auto;
  }
}
.news__item-title {
  font-size: 22px;
  line-height: 1.636;
  display: inline;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000)) 0 100%/0 1px no-repeat;
  background: -webkit-linear-gradient(#000000, #000000) 0 100%/0 1px no-repeat;
  background: linear-gradient(#000000, #000000) 0 100%/0 1px no-repeat;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.news__item-title.sp_only {
  display: none;
}
@media (max-width: 768px) {
  .news__item-title {
    font-size: 13px;
    line-height: 1.53;
  }
  .news__item-title.pc_tb {
    display: none;
  }
  .news__item-title.sp_only {
    display: inline;
  }
}

/* blog共通
====================================== */
.blog__inner {
  padding-top: 107px;
  padding-bottom: 81px;
}
.blog__item a:hover .blog__item-img {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.blog__item a:hover .blog__item-img img {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}
.blog__item a:hover .blog__item-title {
  background-size: 100% 2px;
}
.blog__item-img {
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 18px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}
@media (max-width: 768px) {
  .blog__item-img {
    border-radius: 7px;
    margin-bottom: 12px;
  }
}
.blog__item-img::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
.blog__item-img img, .blog__item-img video, .blog__item-img iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.blog__item-img::before {
  padding-top: 80.27%;
}
@media (max-width: 768px) {
  .blog__item-img::before {
    padding-top: 67.27%;
  }
}
.blog__item-img img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.blog__item-info {
  font-size: 12px;
  font-weight: 200;
  margin-bottom: 8px;
}
.blog__item-info span {
  display: inline-block;
}
.blog__item-info--cat {
  background-color: #F6A631;
  border-radius: 4px;
  color: #fff;
  margin-right: 9px;
  padding: 4px 10px;
}
@media (max-width: 768px) {
  .blog__item-info--cat {
    padding: 0px 5px;
    margin-right: 7px;
  }
}
@media (max-width: 768px) {
  .blog__item-info--date {
    font-size: 13px;
  }
}
.blog__item-title {
  display: inline;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.778;
  background: -webkit-gradient(linear, left top, left bottom, from(#646464), to(#646464)) 0 100%/0 2px no-repeat;
  background: -webkit-linear-gradient(#646464, #646464) 0 100%/0 2px no-repeat;
  background: linear-gradient(#646464, #646464) 0 100%/0 2px no-repeat;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 768px) {
  .blog__item-title {
    font-size: 14px;
    line-height: 1.57;
  }
}
.blog__item-title--first {
  display: none;
}
.blog__item-text {
  font-size: 14px;
  font-weight: 200;
  color: #8D8D8D;
  margin-top: 4px;
  margin-bottom: 11px;
  line-height: 1.785;
}
.blog__item-text--first {
  display: none;
}
.blog__item-tag {
  font-size: 13px;
  font-weight: 200;
  margin-right: 6%;
}

/* recommend-blog
====================================== */
.recommend-blog__inner {
  padding-top: 101px;
  padding-bottom: 54px;
}
@media (max-width: 768px) {
  .recommend-blog__inner {
    padding: 51px 0 37px;
  }
}
.recommend-blog__title {
  margin-bottom: 43px;
}
@media (max-width: 768px) {
  .recommend-blog__title {
    margin-bottom: 25px;
  }
}
.recommend-blog__title-main {
  margin-bottom: 13px;
}
@media (max-width: 768px) {
  .recommend-blog__title-main {
    margin-bottom: 8px;
  }
}
.recommend-blog__container.sp_only {
  display: none;
}
@media (max-width: 768px) {
  .recommend-blog__container.sp_only {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
.recommend-blog__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 980px) {
  .recommend-blog__list {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .recommend-blog__list {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }
}
.recommend-blog .blog__item {
  width: 23.33%;
  margin-bottom: 15px;
}
@media (max-width: 980px) {
  .recommend-blog .blog__item {
    width: 49%;
  }
}
@media (max-width: 768px) {
  .recommend-blog .blog__item {
    width: 100%;
  }
}
.recommend-blog .blog__item-info--cat {
  background-color: #40C1C9;
}
.recommend-blog .blog__item-tags {
  display: none;
}

/* others-blog
====================================== */
.others-blog {
  background-color: #EFEFEF;
}
.others-blog__inner {
  padding-top: 73px;
  padding-bottom: 95px;
}
@media (max-width: 768px) {
  .others-blog__inner {
    padding-top: 44px;
    padding-bottom: 37px;
  }
}
.others-blog__title {
  margin-bottom: 49px;
}
@media (max-width: 768px) {
  .others-blog__title {
    margin-bottom: 32px;
  }
}
.others-blog__title-main img {
  margin-left: 23px;
}
@media (max-width: 768px) {
  .others-blog__title-main img {
    margin-left: 5px;
  }
}
.others-blog__title-sub {
  margin-left: -17px;
}
@media (max-width: 768px) {
  .others-blog__title-sub {
    margin-left: 0;
  }
}
.others-blog__pulldown {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 3%;
  margin-bottom: 81px;
}
@media (max-width: 768px) {
  .others-blog__pulldown {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
  }
}
.others-blog__category, .others-blog__tag {
  width: 100%;
  max-width: 360px;
  text-align: center;
  border: 2px solid #40C1C9;
  border-radius: 55px;
}
@media (max-width: 768px) {
  .others-blog__category, .others-blog__tag {
    max-width: 241px;
    margin: 0 auto 12px;
  }
}
.others-blog__category-list, .others-blog__tag-list {
  display: none;
  padding-bottom: 15px;
}
.others-blog__category-item p, .others-blog__category-item a, .others-blog__category .cat-item p, .others-blog__category .cat-item a, .others-blog__tag-item p, .others-blog__tag-item a, .others-blog__tag .cat-item p, .others-blog__tag .cat-item a {
  padding: 17px;
  font-size: 22px;
  font-weight: bold;
}
@media (max-width: 768px) {
  .others-blog__category-item p, .others-blog__category-item a, .others-blog__category .cat-item p, .others-blog__category .cat-item a, .others-blog__tag-item p, .others-blog__tag-item a, .others-blog__tag .cat-item p, .others-blog__tag .cat-item a {
    font-size: 14px;
    padding: 11px;
  }
}
.others-blog__category-item p, .others-blog__category .cat-item p, .others-blog__tag-item p, .others-blog__tag .cat-item p {
  position: relative;
}
.others-blog__category-item p::after, .others-blog__category .cat-item p::after, .others-blog__tag-item p::after, .others-blog__tag .cat-item p::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 9%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 21px;
  height: 10.5px;
  background: url(../img/icon_arrow-gray.svg) no-repeat center center/cover;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.others-blog__category-item p:hover, .others-blog__category .cat-item p:hover, .others-blog__tag-item p:hover, .others-blog__tag .cat-item p:hover {
  cursor: pointer;
}
.others-blog__category-item.is-open p::after, .others-blog__category .cat-item.is-open p::after, .others-blog__tag-item.is-open p::after, .others-blog__tag .cat-item.is-open p::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}
.others-blog__category-item a, .others-blog__category .cat-item a, .others-blog__tag-item a, .others-blog__tag .cat-item a {
  display: block;
}
@media (max-width: 768px) {
  .others-blog__category-item a, .others-blog__category .cat-item a, .others-blog__tag-item a, .others-blog__tag .cat-item a {
    font-weight: 500;
  }
}
.others-blog__category-item a:hover, .others-blog__category .cat-item a:hover, .others-blog__tag-item a:hover, .others-blog__tag .cat-item a:hover {
  color: #F6A631;
}
.others-blog__category-item.current-cat a, .others-blog__category .cat-item.current-cat a, .others-blog__tag-item.current-cat a, .others-blog__tag .cat-item.current-cat a {
  color: #40C1C9;
}
.others-blog__category {
  background-color: #fff;
}
.others-blog__category-item p {
  color: #8D8D8D;
  margin-left: -18px;
}
.others-blog__tag {
  background-color: #F4F4F4;
}
.others-blog__tag-item p, .others-blog__tag .cat-item p {
  color: #40C1C9;
}
.others-blog__tag-item p::after, .others-blog__tag .cat-item p::after {
  background: url(../img/icon_arrow-gray.svg) no-repeat center center/cover;
}
.others-blog__tag-item a:hover, .others-blog__tag .cat-item a:hover {
  color: #F6A631;
}
.others-blog__tag-item.current-cat a, .others-blog__tag .cat-item.current-cat a {
  color: #40C1C9;
}
.others-blog__list {
  display: grid;
  -webkit-column-gap: 2%;
     -moz-column-gap: 2%;
          column-gap: 2%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}
@media (max-width: 980px) {
  .others-blog__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .others-blog__list {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}
.others-blog__list.paged-list .blog__item:first-child .blog__item-img::after {
  display: none;
}
.others-blog .blog__item {
  padding-bottom: 39px;
}
@media (max-width: 768px) {
  .others-blog .blog__item {
    padding-bottom: 21px;
  }
}
.others-blog .blog__item:first-child {
  grid-column: 1/3;
  grid-row: 1/3;
}
@media (max-width: 768px) {
  .others-blog .blog__item:first-child {
    grid-row: auto;
  }
}
.others-blog .blog__item:first-child .blog__item-img {
  position: relative;
  margin-bottom: 26px;
}
@media (max-width: 768px) {
  .others-blog .blog__item:first-child .blog__item-img {
    margin-bottom: 19px;
  }
}
.others-blog .blog__item:first-child .blog__item-img::before {
  padding-top: 75.8%;
}
@media (max-width: 768px) {
  .others-blog .blog__item:first-child .blog__item-img::before {
    padding-top: 62.28%;
  }
}
.others-blog .blog__item:first-child .blog__item-img::after {
  content: "New";
  position: absolute;
  left: -70px;
  top: -26px;
  z-index: 1;
  background-color: #40C1C9;
  padding: 49px 60px 0px;
  color: #fff;
  font-family: "Brandon Grotesque";
  font-size: 30px;
  font-weight: bold;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.others-blog .blog__item:first-child .blog__item-info {
  margin-bottom: 13px;
}
@media (max-width: 768px) {
  .others-blog .blog__item:first-child .blog__item-info {
    margin-bottom: 6px;
  }
}
.others-blog .blog__item:first-child .blog__item-info--cat {
  font-size: 17px;
  padding: 1px 10px;
}
@media (max-width: 768px) {
  .others-blog .blog__item:first-child .blog__item-info--cat {
    font-size: 13px;
    padding: 1px 5px;
  }
}
.others-blog .blog__item:first-child .blog__item-info--date {
  font-size: 17px;
}
@media (max-width: 768px) {
  .others-blog .blog__item:first-child .blog__item-info--date {
    font-size: 15px;
  }
}
.others-blog .blog__item:first-child .blog__item-title {
  font-size: 29px;
  line-height: 1.48;
}
@media (max-width: 768px) {
  .others-blog .blog__item:first-child .blog__item-title {
    font-size: 15px;
  }
}
.others-blog .blog__item:first-child .blog__item-title--first {
  display: inline;
}
@media (max-width: 768px) {
  .others-blog .blog__item:first-child .blog__item-title--first {
    font-size: 15px;
  }
}
.others-blog .blog__item:first-child .blog__item-title--normal {
  display: none;
}
.others-blog .blog__item:first-child .blog__item-text--first {
  display: block;
  font-size: 19px;
  line-height: 1.63;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .others-blog .blog__item:first-child .blog__item-text--first {
    display: none;
  }
}
.others-blog .blog__item:first-child .blog__item-text--normal {
  display: none;
}
.others-blog .blog__item:first-child .blog__item-tag {
  font-size: 14px;
}
.others-blog .blog__item:nth-child(2n+3) .blog__item-info--cat {
  background-color: #40C1C9;
}