/* recruit-main
====================================== */
.recruit-main {
  padding-top: 114px;
}
@media (max-width: 768px) {
  .recruit-main {
    padding-top: 49px;
  }
}
.recruit-main__img {
  position: relative;
}
.recruit-main__img::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
.recruit-main__img img, .recruit-main__img video, .recruit-main__img iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.recruit-main__img::before {
  padding-top: 34.32%;
}
@media (max-width: 768px) {
  .recruit-main__img::before {
    padding-top: 41.5%;
  }
} /* recruit-links
====================================== */
.recruit-links__inner {
  padding-top: 122px;
  padding-bottom: 67px;
}
@media (max-width: 768px) {
  .recruit-links__inner {
    padding-top: 27px;
    padding-bottom: 0;
  }
}
.recruit-links__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  gap: 30px;
}
.recruit-links__item a {
  display: inline-block;
  min-width: 292px;
  padding: 25px;
  border-radius: 10px;
  font-size: 18px;
  background-color: #40C1C9;
  color: #fff;
  text-align: center;
  position: relative;
}
@media (max-width: 768px) {
  .recruit-links__item a {
    min-width: 110px;
    width: 100%;
    border-radius: 3px;
    font-size: 14px;
    padding: 6px 29px 6px 10px;
  }
}
.recruit-links__item a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 6%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 20px;
  height: 13.5px;
  background: url(../img/recruit/icon_link-arrow.svg) no-repeat center center/cover;
}
@media (max-width: 768px) {
  .recruit-links__item a::after {
    width: 13px;
    height: 9px;
  }
}
@media (max-width: 768px) {
  .recruit-links__item-note {
    font-size: 11px;
  }
}

/* recruit-positions
====================================== */
.recruit-positions__inner {
  padding-top: 0;
  padding-bottom: 62px;
}
@media (max-width: 768px) {
  .recruit-positions__inner {
    padding-bottom: 53px;
  }
}

.recruit-position__inner {
  padding-top: 48px;
  padding-bottom: 93px;
}
@media (max-width: 768px) {
  .recruit-position__inner {
    padding-top: 41px;
    padding-bottom: 25px;
  }
}
.recruit-position__title {
  text-align: center;
  margin-bottom: 41px;
}
@media (max-width: 768px) {
  .recruit-position__title {
    margin-bottom: 19px;
  }
}
.recruit-position__title-main {
  font-size: 50px;
}
@media (max-width: 768px) {
  .recruit-position__title-main {
    font-size: 20px;
  }
}
.recruit-position__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.recruit-position__item-title, .recruit-position__item-text {
  font-size: 18px;
}
@media (max-width: 768px) {
  .recruit-position__item-title, .recruit-position__item-text {
    font-size: 13px;
  }
}
.recruit-position__item-title {
  width: 29.4%;
  font-weight: bold;
  text-align: center;
  padding: 31.5px 0 24px;
  border-top: 3px solid #F6A631;
}
@media (max-width: 768px) {
  .recruit-position__item-title {
    width: 27.5%;
    padding: 12px 0 12px;
  }
}
.recruit-position__item-text {
  width: 66%;
  font-weight: 200;
  line-height: 2.22;
  padding: 28.5px 0 24px;
  padding-left: 2.4%;
  border-top: 1px solid #000;
}
@media (max-width: 768px) {
  .recruit-position__item-text {
    width: 70%;
    padding: 13px 0 14px 10px;
    line-height: 1.46;
  }
}
.recruit-position__item:last-child .recruit-position__item-title {
  border-bottom: 3px solid #F6A631;
}
.recruit-position__item:last-child .recruit-position__item-text {
  border-bottom: 1px solid #000;
}

/* recruit-entry
====================================== */
.recruit-entry {
  background-color: #F4F4F4;
}
.recruit-entry__inner {
  padding-top: 107px;
  padding-bottom: 179px;
}
@media (max-width: 768px) {
  .recruit-entry__inner {
    padding-top: 50px;
    padding-bottom: 88px;
  }
}
.recruit-entry__title {
  margin-bottom: 88px;
}
@media (max-width: 768px) {
  .recruit-entry__title {
    margin-bottom: 21px;
  }
}
.recruit-entry__contents {
  padding: 110px 7.2% 59px;
}
@media (max-width: 768px) {
  .recruit-entry__contents {
    padding: 32px 6.5% 40px;
  }
}